body {
  background-color: "#f4fdff";
}

.loginForm {
  margin: auto;
  padding: 3%;
  width: auto;
  min-width: 30px;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #cbd2d3;
  text-align: center;
}

.customInput {
  padding:2%;
  margin-bottom:2%;
}
